scripts/credentials.sh
scripts/dev_credentials.sh
*.pyc
*.log
logs/*.log*
static/scripts/untitled
data
*.db
.DS_Store
*.db
*.out

celerybeat-schedule.db

celerybeat-schedule.db

celerybeat-schedule.db

celerybeat-schedule*
