scripts/credentials.sh
scripts/dev_credentials.sh
*.log
*.pyc
logs/*.log*
static/scripts/untitled
data
*.db
.DS_Store
*.db
*.out

celerybeat-schedule.db

celerybeat-schedule.db

celerybeat-schedule.db

celerybeat-schedule*
